* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background:#1B263B;
  color: #ecad00;
}

/* HERO */
.hero {
  height: 60vh;
  background: url("https://images.unsplash.com/photo-1523050854058-8df90110c9f1")
    center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.hero-content {
  position: relative;
  color: #ffffff;
  text-align: center;
  animation: fadeIn 1.3s ease;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2rem;
}

/* GRID */
.highlights {
  padding: 60px 10%;
}

.highlights h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  padding: 15px;
  font-size: 1.3rem;
}

.card p {
  padding: 0 15px 20px;
  color:#1B263B;
}

/* FACILITIES */
.facilities {
  padding: 60px 10%;
  background: #fff;
}

.facilities h2 {
  text-align: center;
  margin-bottom: 30px;
}

.facilities ul {
  max-width: 700px;
  margin: auto;
  list-style: square;
  line-height: 2rem;
  font-size: 1.1rem;
}

/* GALLERY */
.gallery {
  padding: 60px 10%;
}

.gallery h2 {
  text-align: center;
  margin-bottom: 30px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s ease;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}

/* ANIMATION */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
