{% block content %} {% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<!-- NAVBAR -->
<nav>
  <div class="logo" aria-label="Applied Sciences Department Home">
    <i class="fas fa-flask" aria-hidden="true"></i>
    Applied Sciences Department
  </div>
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="dropdown">
      <a href="#">Academics</a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'workshop'%}">Workshops</a></li>
        <li><a href="{% url 'blog_list'%}">Blogs</a></li>
        <li><a href="{% url 'faculty'%}">Faculty</a></li>
        <li><a href="{% url 'committee'%}">Committees</a></li>
      </ul>
    </li>

    <li><a href="{% url 'home' %}#achievements">Achievements</a></li>
    <li><a href="#gallery">Gallery</a></li>
    <!-- <li><a href="Infrastructure.html">Infra</a></li> -->
    <li><a href="{% url 'aboutus' %}">About Us</a></li>
  </ul>
</nav>

{% endblock content %}
