{% block content %} {% load static %}

<head>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<!-- MAIN CONTENT -->
  <div class="container">
    <!-- Left Card -->
    <div class="card" aria-label="Announcements">
      <div class="card-header">📢 Latest Updates & Announcements</div>
      <div class="scroll-box">
        <div class="scroll-content">
          <div class="scroll-item">
            <h3>🏢 Mock Test 1</h3>
            <p><strong>Confirmed datesheet and syllabus for Mock Test 1</strong></p>
            <p>This is information For B.Tech CSE,Diploma that your Mock Tests will start from 13th Of October.</p>
            <a href="#">Know More »</a>
          </div>
          <div class="scroll-item">
            <h3>🏢 MST-1</h3>
            <p><strong>Confirmed datesheet and syllabus for MST-1</strong></p>
            <p>This is information For B.Tech CSE,Diploma that your MST's will start from 29th Of September.</p>
            <a href="#">Know More »</a>
          </div>
          <div class="scroll-item">
            <h3>🎓 CR selection Notice</h3>
            <p><strong>Updated CR list</strong></p>
            <p>Check out your new CR's.</p>
            <a href="#">Know More »</a>
          </div>
          <div class="scroll-item">
            <h3>📖Winners Of Dancing and Singing Activity</h3>
            <p><strong>15-09-25 to 19-09-25</strong></p>
            <p>Look for your names!! </p>
            <a href="#">Check Now »</a>
          </div>
          <div class="scroll-item">
            <h3>📖 Social Media Team selection</h3>
            <p><strong>Notice regarding social media coverage team of our department</strong></p>
            <p>Look for your names!! </p>
            <a href="#">Check Now »</a>
          </div>
          <div class="scroll-item">
            <h3>📖 Technical Committee selection</h3>
            <p><strong>Notice regarding technical committee</strong></p>
            <p>Look for your names!! </p>
            <a href="#">Check Now »</a>
          </div>
        </div>
      </div>
      <button class="explore-btn">Explore More</button>
    </div>

    <!-- Right Card -->
    <div class="card" aria-label="Overview">
      <div class="card-header">Latest Events</div>
      <p>Stay Updated on Events, Career Openings, and Exciting Oppurtunities to Shape Your Future!</p>
      <div class="stats" role="list">
        <div class="stat-box" role="listitem">Sportsmaina <br> 17-10-2025</div>
        <div class="stat-box" role="listitem">Teachmania<br> 11-11-2025 to 12-11-2025</div>
        <div class="stat-box" role="listitem">Techathon 4.O<br> Feburary 2026</div>
        <div class="stat-box" role="listitem">Spontania 2k26 <br> April 2026</div>
      </div>
      <button class="explore-btn">Explore More</button>
    </div>
  </div>

  {% endblock content %} 