{%load static} {%block content}

<head>
    <link rel="stylesheet" href="{% static 'css/blog1.css'}"
</head>

<div class="container">
        <h1>Our Blog</h1>
        
        <div class="blog-grid" id="blogGrid"></div>
    </div>

    <div class="full-blog" id="fullBlog">
        <div class="full-blog-content">
            <button class="close-btn" onclick="closeBlog()">&times;</button>
            <img class="full-blog-image" id="fullBlogImage" src="" alt="">
            <div class="full-blog-text">
                <h2 id="fullBlogTitle"></h2>
                <div class="author-info" id="fullBlogAuthor"></div>
                <div class="blog-body" id="fullBlogBody"></div>
            </div>
        </div>
    </div>

<script src="{% static 'js/blogs.js' %}"> </script>

{%endblock content}