{% include 'navbar.html' %}{% block content %}{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/css1' %}" />
</head>

<!-- BRANCHES -->
<section id="branches">
  <h2>Our Branches</h2>
  <div class="grid">
    <div class="card">
      <img src="{% static 'images/branch1.jpg' %}" alt="Computer Science" />
      <h3>B.Tech CSE</h3>
      <p>Computer Science Engineering</p>
    </div>
    <div class="card">
      <img src="{% static 'images/branch2.jpg' %}" alt="AI" />
      <h3>B.Tech AI</h3>
      <p>Artificial Intelligence</p>
    </div>
    <div class="card">
      <img
        src="{% static 'images/branch3.jpg' %}"
        alt="Electrical Engineering"
      />
      <h3>B.Tech EE</h3>
      <p>Electrical Engineering</p>
    </div>
    <div class="card">
      <img
        src="{% static 'images/branch4.jpg' %}"
        alt="Electronics and Communications"
      />
      <h3>B.Tech ECE</h3>
      <p>Electronics and Communications Engineering</p>
    </div>
    <div class="card">
      <img src="{% static 'images/branch5.png' %}" alt="Civil Engineering" />
      <h3>B.Tech CE</h3>
      <p>Civil Engineering</p>
    </div>
    <div class="card">
      <img
        src="{% static 'images/branch6.jpg' %}"
        alt="Mechanical Engineering"
      />
      <h3>B.Tech ME</h3>
      <p>Mechanical Engineering</p>
    </div>
    <div class="card">
      <img src="{% static 'images/branch7.jpg' %}" alt="Physics" />
      <h3>M.Sc Physics</h3>
    </div>
    <div class="card">
      <img src="{% static 'images/branch8.jpeg' %}" alt="Maths" />
      <h3>M.Sc Maths</h3>
    </div>
    <div class="card">
      <img src="{% static 'images/branch9.jpeg' %}" alt="Chemistry" />
      <h3>M.Sc Chemistry</h3>
    </div>
    <div class="card">
      <img
        src="{% static 'images/branch10.jpeg' %}"
        alt="Diploma Computer Science"
      />
      <h3>Diploma CS</h3>
      <p>Computer Science</p>
    </div>
    <div class="card">
      <img
        src="{% static 'images/branch10.jpeg' %}"
        alt="Diploma Electrical Engineering"
      />
      <h3>Diploma EE</h3>
      <p>Electrical Engineering</p>
    </div>
  </div>
</section>
{% endblock content %} {% include 'footer1.html' %} {% include 'footer2.html' %}
