{% include 'navbar.html' %}{% block content %}{% load static %}

<!-- BRANCHES -->
  <section id="branches">
    <h2>Our Branches</h2>
    <div class="grid">
      <div class="card"><img src="images/branch1.jpg" alt="Computer Science"><h3>B.Tech CSE</h3></div>
      <div class="card"><img src="images/branch2.jpg" alt="AI"><h3>B.Tech AI</h3></div>
      <div class="card"><img src="images/branch3.png" alt="Electrical Engineering"><h3>B.Tech EE</h3></div>
      <div class="card"><img src="images/branch4.jpg" alt="Electronics and Communications"><h3>B.Tech ECE</h3></div>
      <div class="card"><img src="images/branch5.png" alt="Civil Engineering"><h3>B.Tech Civil Engineering</h3></div>
      <div class="card"><img src="images/branch6.jpg" alt="Mechanical Engineering"><h3>B.Tech Mechanical Engineering</h3></div>
      <div class="card"><img src="images/branch7.jpg" alt="Physics"><h3>M.Sc Physics</h3></div>
      <div class="card"><img src="images/branch8.png" alt="Maths"><h3>M.Sc Maths</h3></div>
      <div class="card"><img src="images/branch9.png" alt="Chemistry"><h3>M.Sc Chemistry</h3></div>
      <div class="card"><img src="images/branch9.png" alt="Diploma Computer Science"><h3>Diploma Computer Science</h3></div>
    </div>
  </section>
