{% block content %} {% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<!-- HERO CAROUSEL -->
  <div class="carousel" id="home" aria-roledescription="carousel">
   <img src="{% static 'images/hero1.png' %}" class="active" alt="Campus Image 1" loading="lazy">
     <img src="{% static 'images/hero2.jpg' %}" alt="Campus Image 2" loading="lazy">
       <img src="{% static 'images/hero3.jpg' %}" alt="Campus Image 3" loading="lazy">
         <img src="{% static 'images/hero4.jpg' %}" alt="Campus Image 4" loading="lazy">

    <div class="carousel-text">
      <h1>Welcome to the Department of Applied Sciences</h1>
      <p>Innovation | Excellence | Knowledge</p>
    </div>
  </div>

  <script src="{% static 'js/carousel.js' %}"></script>
{% endblock content %} 