{% load static %}
<!-- Collage -->
  <section id="Academics">
    <h2>Academics</h2>
    <div class="grid-collage" id="gallery">
 <a href="{% url 'Aboutus.html' %}" class="item3">
        <img src="{% static 'images/Aboutus.jpg' %}" alt="About Us" loading="lazy">
        <span> About Us </span>
      </a>
<a href="{% url 'classrooms.html' %}" class="item5">
        <img src="{% static 'images/classes.jpg' %}" alt="Our Classrooms" loading="lazy">
        <span>Inside Our Department</span>
      </a>
      <a href="{% url 'branch.html' %}"class="item1">
        <img src="{% static 'images/branchdisplay.jpg' %}" alt="Branches" loading="lazy">
        <span> Branches </span>
      </a><a href="{% url 'faculty.html' %}" class="item6">
        <img src={static 'images/faculty.jpg' %}" alt="Faculty" loading="lazy">
        <span>Faculty</span>
      </a>
      <a href="{% url 'committe.html' %}" class="item2">
        <img src="{% static 'images/committedisplay.png' %}" alt="Committees" loading="lazy">
        <span> Committees </span>
      </a>
     
      <a href="{% url 'workshop.html' %}" class="item4">
        <img src="{% static 'images/activities.jpg' %}" alt="Worshop" loading="lazy">
        <span>Activities</span>
      </a>
      
      <a href="{% url 'blog_list.html' %}" class="item7">
        <img src="{% static 'images/blogs.jpg' %}" alt="Blogs" loading="lazy">
        <span>Blogs</span>
      </a>
    </div>
  </section>
