 {% include 'aboutus_navbar.html' %}{% block content %} {% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/faculty.css' %}"
</head> 

 <!-- MATHEMATICS -->
  <section id="math">
    <h2>Mathematicians</h2>
    <div class="grid">
      <div class="card">
        <img src="{% static 'images/math1.jpg' %}" alt="">
        <h3>Prof. Gurwinder Kaur</h3>
        <p>Head Of the Department
          Experience: 20+ years
          Education: Pursuing Ph.D(Mathematics)
        </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543210"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="{% static 'images/math2.jpg' %}" alt="Teacher 2">
        <h3>Ms. Anjali</h3>
        <p>Assistant Professor</p>
         <p>Experience: 7.5+ years</p>
        <p>Education: M.Sc (Maths)</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919812345678"><i class="fas fa-phone"></i></a>
        </div>
      </div>
<div class="card">
        <img src="{% static 'images/math3.jpg' %}" alt="Teacher 1">
        <h3>Mr. Harsimran Singh</h3>
        <p>Assistant Professor
          Experience: 5+ years
          Education: M.Sc (Mathematics), B.Ed
        </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543210"><i class="fas fa-phone"></i></a>
        </div>
      </div>
<div class="card">
        <img src="{% static 'images/math4.jpg' %}" alt="Teacher 1">
        <h3>Ms. Jaspal Kaur</h3>
        <p>Assistant Professor
          Experience: 4.5+ years
          Education: M.Sc Mathematics
        </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543210"><i class="fas fa-phone"></i></a>
        </div>
      </div>
<div class="card">
        <img src="{% static 'images/math5.jpg' %}"alt="Teacher 1">
        <h3>Ms. Komal</h3>
        <p>Assistant Professor
          Experience: 1.5+ years
          Education: M.Sc Mathematics
        </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543210"><i class="fas fa-phone"></i></a>
        </div>
      </div>
    </div>
  </section>

  <!-- CHEMISTRY -->
  <section id="chemistry">
    <h2>Chemical Wizards🧙‍♂️🧪 - Chemistry Faculty</h2>
    <div class="grid">
      <div class="card">
        <img src="{% static 'images/chem1.jpg' %}" alt="Teacher 1">
        <h3>Dr. Ekta Sharma</h3>
        <p>Assistant Professor</p>
         <p>Experience: 5+ years</p>          
          <p>Education: P.hD (Chemistry)
        </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543211"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="{% static 'images/chem2.jpg' %}" alt="Teacher 1">
        <h3>Ms. Shilpa</h3>
        <p>Assistant Professor</p>
          <p>Experience: 5+ years</p>
          <p>Education: Pursuing Ph.D (Chemistry)</p>
        </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543211"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="{% static 'images/chem3.jpg' %}" alt="Teacher 1">
        <h3>Mr. Sourav</h3>
        <p>Assistant Professor</p>
        <p>Experience: 1.5+ Years </p>
        <p>Education: M.Sc Chemistry, Pursuing Ph.D</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543211"><i class="fas fa-phone"></i></a>
        </div>
      </div>
    </div>
  </section>

  <!-- BEE -->
  <section id="BEE">
    <h2>Spark Specialists 🔌 - BEE Faculty</h2>
    <div class="grid">
      <div class="card">
        <img src="{% static 'images/bee1.jpg' %}" alt="Teacher 1">
        <h3>Dr. Indu Batra</h3>
        <p>Associate Professor</p>
          <p>Experience: 15+ years</p>
         <p>Education: P.hD (Power System)
        </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543212"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="{% static 'images/bee2.jpg' %}" alt="Teacher 1">
        <h3> Ms. Takshma</h3>
        <p>Assistant Professor</p>
        <p>Experience: 1.5+ Years </p>
        <p>Education: M.Tech EE</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543212"><i class="fas fa-phone"></i></a>
        </div>
      </div>
    </div>
  </section>

  <section id="physics">
    <h2>Neutron Navigators⚛️ - Physics Faculty</h2>
    <div class="grid">
      <div class="card">
        <img src="{% static 'images/physics1.jpg' %}" alt="Teacher 1">
        <h3>Dr. Ayushi Chauhan</h3>
        <p>Assistant Professor</p>
         <p>Experience: 5+ years</p>
         <p>Education: P.hD (Physics)
        </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543212"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="{% static 'images/physics2.jpg' %}" alt="Teacher 1">
        <h3> Mr. Aashish Sharma</h3>
        <p>Assistant Professor</p>
          <p>Experience: 2+ years</p>
          <p>Education: Pursuing P.hD (Physics)
        </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543212"><i class="fas fa-phone"></i></a>
        </div>
      </div>
</div>
  </section>

  <!-- ENGLISH -->
  <section id="english">
    <h2>Grammar Guardians - English Faculty</h2>
    <div class="grid">
      <div class="card">
        <img src="{% static 'images/english1.jpg' %}" alt="Teacher 1">
        <h3>Ms. Deepika Aggarwal</h3>
        <p>Assistant professor</p>
        <p>Experience: 8+ Years</p>
        <p>Education:M.A. English, UGC Net Qualified</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543213"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="{% static 'images/english2.jpg' %}" alt="Teacher 1">
        <h3>Ms. Meenakshi Sharma</h3>
        <p>Assistant professor</p>
        <p>Experience: 25+ years</p>
        <p>Education: Post Graduate (HR)</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543213"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="{% static 'images/english3.jpg' %}" alt="Teacher 1">
        <h3>Ms. Navpreet Kaur</h3>
        <p>Assistant professor</p>
        <p>Experience: 11+ Years </p>
        <p>Education: M.A </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543213"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="{% static 'images/english4.jpg' %}" alt="Teacher 1">
        <h3>Mr. Ankit</h3>
        <p>Assistant professor</p>
        <p>Experience: 3.5+ years </p>
        <p>Education: MA (English), B.ed </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543213"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="{% static 'images/english5.jpg' %}" alt="Teacher 1">
        <h3>Mr. Mukul</h3>
        <p>Assistant professor</p>
        <p>Experience: 3.5+ years</p>
        <p>Education: M.A English</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543213"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="{% static 'images/english6.jpg' %}" alt="Teacher 1">
        <h3>Ms. Sapna</h3>
        <p>Assistant Professor</p>
        <p>Experience: 8.5+ years</p>
        <p>Education: M.A English</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543213"><i class="fas fa-phone"></i></a>
        </div>
      </div>

    </div>
  </section>

  <!-- PPS/Computers -->
  <section id="pps">
    <h2>Code Commanders👨‍💻 - PPS/Computer Faculty</h2>
    <div class="grid">
      <div class="card">
        <img src="{% static 'images/pps1.jpg' %}" alt="Teacher 1">
        <h3>Ms. Priyanka Sood</h3>
        <p>Assistant Professor</p>
        <p>Experience: 14+ years</p>
        <p>Education: MCA </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="{% static 'images/pps2.jpg' %}" alt="Teacher 1">
        <h3>Ms. Mandeep Kaur</h3>
        <p>Assistant Professor</p>
        <p>Experience: 3.5+ years</p>
        <p>Education: M.A English</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="{% static 'images/lalitsir.jpeg' %}" alt="Teacher 1">
        <h3>Mr. Lalit</h3>
        <p>Assistant Professor</p>
        <p>Experience: 16+ years</p>
        <p>Education: MCA </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>

    </div>
  </section>
 
  <section id="Workshop">
    <h2>Tool Titans - Workshop Faculty </h2>
    <div class="grid">
      <div class="card">
        <img src="{% static 'images/work1.jpg' %}"alt="Teacher 1">
        <h3>Mr. Satvir </h3>
        <p>Assistant Professor</p>
         <p>Experience: 5+ years</p>
        <p>Education: M.Tech (ME) </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
      </div>
      </div>
            <div class="card">
        <img src="{% static 'images/work2.jpg' %}" alt="Teacher 1">
        <h3>Mr. Parmveer</h3>
        <p>Assistant Professor</p>
         <p>Experience: 2+ years</p>
        <p>Education: M.Tech (ME) </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
    
      </div>
      </div>
    </section>
      
    <!-- PPS/Computers -->
  <section id="pps">
    <h2>Lab Instructors </h2>
    <div class="grid">
      <div class="card">
        <img src="{% static 'images/arpitsir.jpeg' %}" alt="Teacher 1">
        <h3>Mr. Arpit </h3>
        <p>PPS Lab Instructor</p>
        <p>Experience: 1+ years</p>
        <p>Education: B.Tech </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="{% static 'images/pps2.jpg' %}" alt="Teacher 1">
        <h3>Mr. Amit </h3>
        <p>BEE Lab Instructor</p>
        <p>Experience: 3.5+ years</p>
        <p>Education: B.Tech </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="{% static 'images/chem4.jpg' %}" alt="Teacher 1">
        <h3>Ms. Simranjeet </h3>
        <p>Chemistry Lab Instructor</p>
        <p>Experience: 1.5+ years</p>
        <p>Education: M.Sc Chemistry</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>

       <div class="card">
        <img src="{% static 'images/navneetmam.jpeg' %}" alt="Teacher 1">
        <h3>Ms. Navneet </h3>
        <p>Physics Lab Instructor</p>
        <p>Experience: 3+ years</p>
        <p>Education: M.Sc Physics </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>

    </div>
  </section>
  <!--<section id="bee">
    <h2>BEE Faculty</h2>
    <div class="grid">
      <div class="card">
        <img src="images/bee1.jpg" alt="Teacher 1">
        <h3>Dr.Indu batra </h3>
        <p>Assistant Professor</p>
         <p>Experience: 16+ years</p>
        <p>Education: MCA </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="images/bee2.jpg" alt="Teacher 1">
        <h3>Ms. Takshma </h3>
        <p>Assistant Professor</p>
         <p>Experience: 16+ years</p>
        <p>Education: MCA </p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>

    </div>
  </section>



    
  <section id="cs">
    <h2>ED Faculty</h2>
    <div class="grid">
      <div class="card">
        <img src="images/cs1.jpg" alt="Teacher 1">
        <h3>Ms. Priyanka Sood</h3>
        <p>Professor</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>
      <div class="card">
        <img src="images/cs1.jpg" alt="Teacher 1">
        <h3>Ms. Mandeep Kaur</h3>
        <p>Professor</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="images/cs1.jpg" alt="Teacher 1">
        <h3>Mr. Lalit</h3>
        <p>Professor</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>

    </div>
  </section> -->

  <!-- <section id="cs">
    <h2>EMC faculty </h2>
    <div class="grid">
      <div class="card">
        <img src="images/cs1.jpg" alt="Teacher 1">
        <h3>Ms. Priyanka Sood</h3>
        <p>Professor</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="images/cs1.jpg" alt="Teacher 1">
        <h3>Ms. Mandeep Kaur</h3>
        <p>Professor</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="images/cs1.jpg" alt="Teacher 1">
        <h3>Mr. Lalit</h3>
        <p>Professor</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>

    </div>
  </section> -->

  <!-- <section id="cs">
    <h2>PDP Faculty</h2>
    <div class="grid">
      <div class="card">
        <img src="images/cs1.jpg" alt="Teacher 1">
        <h3>Ms. Priyanka Sood</h3>
        <p>Professor</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="images/cs1.jpg" alt="Teacher 1">
        <h3>Ms. Mandeep Kaur</h3>
        <p>Professor</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>

      <div class="card">
        <img src="images/cs1.jpg" alt="Teacher 1">
        <h3>Mr. Lalit</h3>
        <p>Professor</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
        </div>
      </div>
    </div>
  </section>

  EVS
  <section id="cs">
    <h2>EVS Faculty</h2>
    <div class="grid">
      <div class="card">
        <img src="images/cs1.jpg" alt="Teacher 1">
        <h3>Ms. Shilpa</h3>
        <p>Professor</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
  </div>
      </div>
    </div>
  </section>
 -->

  <!-- BIT -->
  <!-- <section id="cs">
    <h2>BIT Faculty</h2>
    <div class="grid">
      <div class="card">
        <img src="images/cs1.jpg" alt="Teacher 1">
        <h3>Mr. Lalit</h3>
        <p>Professor</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
  </div>
      </div>
    </div>
  </section> -->


      <!--CFIT -->
  <!-- <section id="cs">
    <h2>CFIT Faulty</h2>
    <div class="grid">
      <div class="card">
        <img src="images/cs1.jpg" alt="Teacher 1">
        <h3>Ms. Shilpa</h3>
        <p>Professor</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>  </div>
      </div>
    

 <div class="card">
        <img src="images/cs1.jpg" alt="Teacher 1">
        <h3>Mr. Lalit</h3>
        <p>Professor</p>
        <div class="socials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="tel:+919876543214"><i class="fas fa-phone"></i></a>
  </div>
      </div>
    </div>
  </section> -->

 <!-- ===== FOOTER ===== -->
  <footer>
    <p>&copy; 2025 Applied Science Department | All Rights Reserved</p>
  </footer>
{% endblock content %} {% include 'footer1.html' %} {% include 'footer2.html' %}
