{% block content %} {% load static %}

<head>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<!-- NAVBAR -->
  <nav>
    <div class="logo" aria-label="Applied Sciences Department Home">
      <i class="fas fa-flask" aria-hidden="true"></i>
      Applied Sciences Department
    </div>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#Academics">Academics</a></li>
      <li><a href="#achievements">Achievements</a></li>
      <li><a href="#countdown-section">Events</a></li>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="Infrastructure.html">Infra</a></li>
      <li><a href="faculty.html">Faculty</a></li>
      <li><a href="Aboutus.html">About Us</a></li>
    </ul>
  </nav>

{% endblock content %} 
